.idea
*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.DS_STORE

.env
docs
venv
tests/doc.json
tests/chat_task.py
web/v3/chatllm/.vscode
web/v3/chatllm/node_modules
.venv